.Home{
    /* background-color: red; */
}

.GorLogo{
    max-width: 500px;
    width: 70vw;
    /* background-color: red; */
}


.titlePara{
    width: 70vw;
    max-width: 500px;
    display: inline-block;
    direction: rtl;
}

.textPara{
    width: 70vw;
    max-width: 500px;
    display: inline-block;
    direction: rtl;
}

